
<article class="media">
    <figure class="media-left" id="divInfo">
        <p class="image">
            <img style="height: 500px;" src="<%=product.image %>" alt="Placeholder image" />
        </p>
    </figure>
    <div class="is-flex is-flex-direction-column media-content m-4 has-text-centered ">
        <div class="content">
            <p class="is-size-1">
                <%=product.name %>
            </p>
        </div>
        <div class="content">
            <p class="is-size-3">
                $ <%=product.price %>
            </p>
        </div>
        <div class="content">
            <p class="is-size-3">
                <%=product.category %>
            </p>
        </div>
    </div>
</article>
<div class="control has-icons-left has-icons-right columns is-centered m-4">
    <div class="column is-half m-4">
        <form action="/api/productos/editar/<%=product._id %>" method="post" role="form">
            <label class="label" for="name">Nombre: </label>
            <input class="input is-success" type="text" placeholder="Ingrese nombre del producto" value="" name="name"
                id="name" required />

            <label class="label mt-4" for="price">Precio: </label>
            <input class="input is-success" type="number" placeholder="Ingrese precio del producto" value=""
                name="price" id="price" required />

            <label class="label" for="image">Image: </label>
            <input class="input is-success" type="text" placeholder="Ingrese link de la imagen" value="" name="image"
                id="image" required />

            <label class="label mt-4" for="category">Categoria: </label>
            <div class="select is-success">
                <select name="category" id="category" required>
                    <option value="accesorio">Accesorio</option>
                    <option value="indumentaria">Indumentaria</option>
                    <option value="calzado">Calzado</option>
                </select>
            </div>
            <div class="is-flex is-justify-content-center mt-4">
                <button type="submit" id="btnProduct" class="button is-large is-success mt-4">Subir Producto</button>
            </div>
        </form>
    </div>
</div>