<div class="control has-icons-left has-icons-right columns m-4">
    <div class="column">
        <h2 class="is-size-3">Bienvenido, <%= currentSession %></h2>
    </div>
    <div class="column is-half m-4">
        <a class="m-3" href="http://localhost:<%= currentPort %>/api/productos">
            <button class="button is-link">Todo</button>
        </a>
        <a class="m-3" href="http://localhost:<%= currentPort %>/api/productos/categoria/indumentaria">
            <button class="button is-link">Indumentaria</button>
        </a>
        <a class="m-3" href="http://localhost:<%= currentPort %>/api/productos/categoria/calzado">
            <button class="button is-link">Calzado</button>
        </a>
        <a class="m-3" href="http://localhost:<%= currentPort %>/api/productos/categoria/accesorio">
            <button class="button is-link">Accesorios</button>
        </a>
    </div>
    <div class="column">
        <div class="is-flex is-justify-content-end">
            <a class="m-3" href="http://localhost:<%= currentPort %>/api/logout">
                <button id="btnLogout" class="button is-link">Logout</button>
            </a>
            <a class="m-3" href="http://localhost:<%= currentPort %>/api/carrito">
                <button id="btnCart" class="button is-link mg"><i class="fa-solid fa-cart-plus"></i></button>
            </a>
        </div>
    </div>
</div>